@font-face {
    font-family: DINNextLTPro-Black;
    src: url(/fonts/DINNext/DINNextLTPro-Black.otf);
    /*font-weight: bold;*/
}
@font-face {
    font-family: DINNextLTPro-Regular;
    src: url(/fonts/DINNext/DINNextLTPro-Regular.otf);
    /*font-weight: bold;*/
}
@font-face {
    font-family: DINNextLTPro-Bold;
    src: url(/fonts/DINNext/DINNextLTPro-Bold.otf);
    /*font-weight: bold;*/
}
@font-face {
    font-family: DINNextLTPro-BoldCondensed;
    src: url(/fonts/DINNext/DINNextLTPro-BoldCondensed.otf);
    /*font-weight: bold;*/
}
@font-face {
    font-family: DINNextLTPro-Heavy;
    src: url(/fonts/DINNext/DINNextLTPro-Heavy.otf);
    /*font-weight: bold;*/
}

/*menu*/

.main-nav{
  background-color: #df0050;
}

.header-bar {
  min-height: 120px;
}

.main-brand {
  padding: 30px 15px;
}

.navbar .nav > li.act > a {
  color: #e41658;
}

.navbar .nav > li.act > a:hover {
  color: #e41658;
}

.navbar .nav  > li.act {
  background-color: #FFF;
}

.navbar .nav  > li > a {
	padding: 50px 15px;
  color: #111111;
  font-family: DINNextLTPro-BoldCondensed;
  font-size: 22px;
}

.navbar .nav > li > a:hover {
  color: #FFF;
}

@media (max-width: 979px) {	

   .main-nav{
    background-color: #FFF;
  }

   .navbar .nav  > li {
       background-color: #FFF;
   }

  .navbar .nav  > li.act {
    background-color: #FFF;
  }

	.navbar .nav > li > a {
    padding: 15px 20px 15px 40px;    
	}

  .navbar .nav > li.act > a {
    color: #e41658;
  }

}

/*topbar*/

.top-bar {
  background: #FFF;
  padding: 6px;
  font-family: DINNextLTPro-Bold;
  margin: auto;
  color: #000;
}

.top-bar .container {
  display: flex; 
  align-items: center;
}

.top-bar .top-contact{
  font-size: 14px;
  margin-left: 4px;
  margin-right: 22px;
}

.left-widgets {
  /*float:left;*/
  width: 100%;
}

.right-widgets {
  /*float: right;*/
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.top-phone {
  margin-right: 4px;
}
.top-email {
  margin-right: 4px;
}

.btn-facebook{
  margin-right: 4px;
}

/* .top-bar {
    position: relative;
    display: flex;
    margin-top: 0;
    box-sizing: border-box;
     padding: 5px 0 5px;
}

.top-bar a {
  color: #000;
}

.top-bar>.mini-widgets {
     display: flex; 
     -webkit-align-items: center; 
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
     align-items: center; 
     -webkit-flex: 1 1 auto; 
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-justify-content: flex-end; 
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.top-bar .mini-widgets:first-child {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.top-bar .mini-widgets.right-widgets {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end
}
.mini-contacts,.mini-nav {
    position: relative;
    vertical-align: middle
} */


